body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Arial', sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d4;
  height: 100px;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #d0d0d0;
}

header h1 {
  font-size: 45px;
  color: white;
  margin: 0 30px;
  align-self: center;
  text-decoration: none;
  /* Agregamos margen inferior para separar del input */
}

header h3 {
  font-size: 24px;
  color: white;
  align-self: center;
  text-decoration: none;
  /* Agregamos margen inferior para separar del input */
}

header h1 {
  color: white;
  text-decoration: none;
  /* Agregamos margen inferior para separar del input */
}

header h3 {
  color: white;
  text-decoration: none;
  /* Agregamos margen inferior para separar del input */
}