<!DOCTYPE html>
<html>
<head>
    <title>MovieWeb</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/header.css">
    <script src="https://kit.fontawesome.com/2a8338fca4.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header') %>
    <div id="body">
        <h1 style="font-size: 72px;"><i class="fas fa-film" style="margin-right: 10px;"></i>MovieWeb</h1>
        <form action="/buscar" method="GET">
            <input type="text" name="q" placeholder="Buscar películas..." required />
            <button type="submit">Buscar</button>
            <div id="checks">
                <input type="checkbox" id="keyword" name="filter" value="keyword" />
                <label for="keyword">Buscar por Keyword</label>
            </div>
        </form>
    </div>
</body>

</html>