<!DOCTYPE html>
<html>

<head>
    <title>MovieWeb</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <%- include('./partials/header') %>
        <div id="body">
            <h1>Iniciar sesión</h1>
            <form style="width: 40%;" action="/log-in" method="POST">
                <input style="width: 60%;margin: 10px 0;" type="text" name="user" placeholder="Ingrese Usuario" />
                <input style="width: 60%;margin: 10px 0;" type="text" name="password" placeholder="Ingrese Contraseña" />
                <button style="width: 60%;margin: 10px 0;" type="submit">Ingresar</button>
            </form>

            <form style="width: 35%;" action="/" method="GET">
                <button style="width: 40%;margin: 10px 0;" style="display: block;" type="submit">Recuperar contraseña</button>
            </form>
        </div>
</body>
</html>