<!DOCTYPE html>
<html>

<head>
    <title>MovieWeb</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <%- include('./partials/header') %>
        <div id="body">
            <h1>Registro de usuario</h1>
            <form style="width: 40%;" action="/new-user" method="POST">
                <input style="width: 60%;margin: 10px 0;" id="text" type="text" name="name" placeholder="Ingrese Nombre Completo" required/>
                <input style="width: 60%;margin: 10px 0;" id="text" type="email" name="email" placeholder="Ingrese email" required/>
                <input style="width: 60%;margin: 10px 0;" id="text" type="text" name="user" placeholder="Ingrese Usuario" required/>
                <input style="width: 60%;margin: 10px 0;" id="text" type="password" name="password" placeholder="Ingrese Contraseña" required/>
                <input style="width: 60%;margin: 10px 0;" id="text" type="password" name="passwordConfirmation" placeholder="Confirme contraseña" required/>
                <button style="width: 60%;margin: 10px 0;" type="submit">Crear usuario</button>
            </form>
        </div>
</body>

</html>